/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html
{
    font-size: 1em;
    line-height: 1.4;

    color: #222;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection
{
    background: #b3d4fc;
    text-shadow: none;
}

::selection
{
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr
{
    display: block;

    height: 1px;
    margin: 1em 0;
    padding: 0;

    border: 0;
    border-top: 1px solid #ccc;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video
{
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset
{
    margin: 0;
    padding: 0;

    border: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea
{
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade
{
    margin: .2em 0;
    padding: .2em 0;

    color: #000;
    background: #ccc;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden
{
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
{
    position: static;

    overflow: visible;
    clip: auto;

    width: auto;
    height: auto;
    margin: 0;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible
{
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after
{
    display: table; /* 2 */

    content: ' '; /* 1 */
}

.clearfix:after
{
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em)
{
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi)
{
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print
{
    *,
    *:before,
    *:after
    {
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        background: transparent !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited
    {
        text-decoration: underline;
    }

    a[href]:after
    {
        content: ' (' attr(href) ')';
    }

    abbr[title]:after
    {
        content: ' (' attr(title) ')';
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^='#']:after,
    a[href^='javascript:']:after
    {
        content: '';
    }

    pre,
    blockquote
    {
        border: 1px solid #999;

        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead
    {
        display: table-header-group;
    }

    tr,
    img
    {
        page-break-inside: avoid;
    }

    img
    {
        max-width: 100% !important;
    }

    p,
    h2,
    h3
    {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3
    {
        page-break-after: avoid;
    }
}

ul,
ol
{
    list-style: none;
}

header
{
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;

    width: 100%;

    background-color: #ededed;
}


.logo
{
    position: absolute;
    z-index: 1;

    margin: 9px 30px;
}

.logo__img
{
    height: 32px;
    max-height: 100%;
    width: auto;
}

.top-nav
{
    float: right;
}

.section
{
    position: relative;

    text-align: center;
}

#menu li
{
    display: inline-block;

    margin: 10px;

    color: #000;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background: #fff;
    background: rgba(255,255,255, .5);
}

#menu li.active
{
    color: #fff;
    background: #666;
    background: rgba(0,0,0, .5);
}

#menu li a
{
    text-decoration: none;

    color: #000;
}

#menu li.active a:hover
{
    color: #000;
}

#menu li:hover
{
    background: rgba(255,255,255, .8);
}

#menu li a,
#menu li.active a
{
    display: block;

    padding: 4px 18px;
}

#menu li.active a
{
    color: #fff;
}

#menu
{
    margin: 0;
    padding: 0;
}

.section--1 img,
.section--1__content
{
    width: 85%;
    margin: 0 auto;
}

.full-height-image
{
    width: auto;
    max-height: 80%;
    margin: 0 auto;
}

.download-registration-form-btn
{
    margin: 20px 0;
    padding: 10px 60px;
}

.fp-controlArrow.fp-prev
{
    border-color: transparent #ccc transparent transparent;
}

.fp-controlArrow.fp-next
{
    border-color: transparent transparent transparent #ccc;
}

.course__section
{
    font-size: 12px;

    height: 550px;
    margin: 10px;
    padding: 20px;

    text-align: left;

    background-color: #F8BA45;;
}

.course__main-right
{
    overflow: hidden;

    text-align: left;;
}

.m0
{
    margin: 0;
}
